{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-jsx",
    "babel-plugin-transform-vue-jsx",
    "babel-plugin-jsx-v-model",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-do-expressions",
    "babel-plugin-transform-function-bind"
  ]
}