// [variables]
$primary: #0087B3;
$secondary: #006181;
$ternary: #09c6d6;
$accent: $ternary;
$info: #0c549b;
$error: #B62222;
$warning: #E9D30F;
// [/variables]



// CUSTOM
$link-color: $primary;
$btn-primary-color: $accent;
